.Login {
  width: 350px;
  height: 200px;
  background-color: lightgrey;
  margin: 30% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px 30px 60px;
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 0;
      font-size: 20px;
      margin: 10px;
    }

    button {
      margin-top: 15px;
      width: 100px;
    }
  }
}
